@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    
}

p{
    font-weight: lighter;
}
.nav {
    font-weight:600;
}


.work {
    font-family: 'Space Mono', monospace;
}